
/* SITEMAP
------------------------------------------------------------------------------- */

 .sitemap a:hover{
    color: $primary-color;
}

 .sitemap > ul > li {
  border-bottom: 1px solid #666;
  display: table;
  float: left;
  list-style: outside none none;
  padding: 10px 0 30px 0;
  text-align: left;
  width: 100%;
}
 .sitemap > ul > li {
  border-bottom: 1px solid #666;
  display: table;
  float: left;
  list-style: outside none none;
  padding: 10px 0 30px 0;
  text-align: left;
  width: 100%;
}
 .sitemap > ul > li > a{
    display: block;
    float: left;
    font-family: "Montserrat",Arial,sans-serif;
    font-size: 14px;
    margin-right: 10px;
    text-transform: uppercase;
    width: 40%;
}

.sitemap > ul > li ul{
  float: left;
  padding-left: 30px;
  border-left: 1px solid #ccc;
  width: 50%;
}

 .sitemap ul ul > li > a{
    color: #666;
    }

.sitemap > ul > li > ul li{
  margin: 0 0 10px;
  list-style: none;
}

 .sitemap > ul ul ul {
  margin: 20px 0;
}

.sitemap > ul ul ul,
.sitemap > ul ul ul a{
  color: #999;
  float: none;
  width: auto;
}